confy==0.3.8
Django==4.0.4
django_countries==7.3.2
django_cron==0.5.1
django_reversion==5.0.0
django_taggit==3.0.0
geojson==2.5.0
geopandas==0.10.2
python_dateutil==2.8.2
pytz==2019.3
reportlab==3.5.34
requests==2.22.0
setuptools==45.2.0
six==1.14.0
