.v-enter, .v-leave-to {
      opacity: 0;
}
.v-enter-active, .v-leave-active {
    transition: 0.5s;
}
.toggle_filters_wrapper {
    background: #efefee;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
}
.toggle_filters_button {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
}
.filter-warning-icon {
    color: #ffc107;
}
.toggle_filters_icon {
    margin: 0 0 0 0.5em;
}
